html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,a,span{margin:0;padding: 0;}
body{width: 100%;font-size: 12px;font-family: "微软雅黑";color: #333;}
ol,ul,li{
	list-style-image: none;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #666;
	outline: none;
}
b,caption,th{
	font-weight: normal;
}
fieldset,img{
	border: 0;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}
.left{
	float: left;
}
.right{
	float: right;
}
/*头部开始*/
.top{
	width: 100%;
	height: 155px;
	background: url(../img/topbg.jpg) top center repeat-x;
}
.top_pc{
	height: 35px;
	line-height: 35px;
}
.top_pc #login_str a{
	margin-left: 15px;
	color: #888;
}
.top_pc #login_str span{
	padding-left: 15px;
} 
.top_pc li{
	float: left;
	padding-right: 10px;
}
.sina_weino{
	background: url(../img/sina.png) no-repeat 1px 3px;
	display: block;
	width: 22px;
	height: 30px;
}
.wxs{
	background: url(../img/wx.png) no-repeat 1px 3px;
	display: block;
	width: 20px;
	height: 30px;
	line-height: 30px;
}

/*logo*/
.logo{
	width: 415px;
	height: 71px;
	padding-top: 30px;
	/*background: paleturquoise;*/
}

/*search*/
.search{
	width: 510px;
	height: 90px;
	padding-top: 30px;
	/*background: peachpuff;*/
}
.search .search_con{
	width: 510px;
	height: 35px;
	position: relative;
	overflow: hidden;
	background: url(../img/search.jpg) no-repeat;	
} 
.search .search_con .selectvalue{
	width: 52px;
	height: 35px;
	float: left;
	line-height: 35px;
	color: #a6a6a6;
	text-align: center;
}
.search .search_con .keyword input{
	width: 374px;
	height: 15px;
	float: left;
	line-height: 15px;
	background: none;
	color: #888;
	font-size: 12px;
	outline: none;
	padding: 10px 0;
	overflow: hidden;
}
.search .search_con .search_btn button{
	float: right;
	width: 78px;
	height: 33px;
	border: 0;
	background: none;
	cursor: pointer;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
.search .search_p{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	width: 510px;
	padding-top: 10px;
}
.search .search_p  a{
	color: #666;
	margin-left: 11px;
}
.search .search_p  a:hover{
	color: #d52629;
}
/*头部结束*/
/*导航开始*/
.nav{
	height: 36px;
	/*background: palegreen;*/	
}
.sider{
	width: 220px;
	position: relative;
}
.sider h2{
	height: 36px;
	background: url(../img/icon.png) firebrick -110px -19px no-repeat;
}
.sider h2 a{
	padding-left: 50px;
	color: white;
	line-height: 36px;
	font-size: 14px;
}
.sider .cart{
	width: 220px;
	height: 496px;
	background: #b91433;
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 1;
	/*display: none;*/
}
.sider .cart li{
	height: 55px;
	width: 220px;
	/*background: paleturquoise;*/
}
.sider .cart li p.tit{
	width: 208px;
	height: 55px;
	padding-left: 13px;
	/*background: paleturquoise;*/
	display: block;
}
.sider .cart li strong{
	display: block;
	padding-top: 5px;
}
.sider .cart li strong i{
	display: inline-block;
	height: 19px;
	width: 27px;
	float: left;
	margin-top: 3px;
	background: url(../img/icon.png) no-repeat;
}
.sider .cart li strong .i1{
	background-position: -100px -60px;
}
.sider .cart li strong .i2{
	background-position: -100px -111px;
}
.sider .cart li strong .i3{
	background-position: -100px -163px;
}
.sider .cart li strong .i4{
	background-position: -100px -214px;
}
.sider .cart li strong .i5{
	background-position: -100px -263px;
}
.sider .cart li strong .i6{
	background-position: -100px -316px;
}
.sider .cart li strong .i7{
	background-position: -100px -360px;
}
.sider .cart li strong .i8{
	background-position: -100px -408px;
}
.sider .cart li strong .i9{
	background-position: -100px -415px;
}
.sider .cart li strong a{
	font-size: 14px;
	color: white;
	float: left;
}
.sider .cart li font{
	display: block;
	clear: both;
	padding-left: 27px;
}
.sider .cart li font a{
	margin-right: 6px;
	color: white;
}
.nav_con{
	width: 800px;
	height: 34px;
	/*background: paleturquoise;*/
}
.nav_con ul li{
	float: left;
	margin:0 20px;
	line-height: 34px;
	position: relative;
	font-size: 16px;
}
/*content*/
.location{
	width: 1200px;
	height: 50px;
	/*background: palegoldenrod;*/
	line-height: 50px;
}
.location em{
	padding: 0 8px;
}
.product{
	width: 220px;
	height: 400px;
	/*background: palegreen;*/
	overflow: hidden;
}
/*省略高度*/
.product_shop{
	width: 962px;
	/*height: 1000px;*/
	/*background: palevioletred;*/
}
.infor{
	width: 218px;
	height: 316px;
	border: 1px solid #c5c5c5;
	/*background: peachpuff;*/
}
.infor h3{
	height: 33px;
	line-height: 33px;
	color: #333;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 600;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
.infor h4{
	color: black;
	font-weight: bold;
	font-size: 16px;
	line-height: 33px;
	padding-left: 10px;
}
.infor ul li{
	padding: 5px 0 5px 10px;
	line-height: 24px;
	border-bottom: 1px dotted #eee;
	color: #999;
}
.newstar{
	display: inline-block;
	width: 75px;
	height: 14px;
	line-height: 14px;
	position: relative;
	top: 2px;
	background: url(../img/newstar.png) -75px 0 no-repeat;
}
#price a{
	color: #d52629;
}
.newstar i{
	display: inline-block;
	background: url(../img/newstar.png) 0 0 no-repeat;
	line-height: 14px;
}
.infor ul li font{
	color: #2658b4;
}
.shopimg{
	width: 358px;
	height: 412px;
	/*background: paleturquoise;*/
}
.shopinfo{
	width: 580px;
	height: 500px;
	/*background: papayawhip;*/
}
.preview{
	width: 350px;
	height: 350px;
	border: 1px solid #ddd;
	padding: 1px;
}
.spec-scroll{
	width: 354px;
	margin-top: 5px;
	clear: both;
}
.prev{
	width: 10px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	border: 1px solid #ddd;
	background: #EBEBEB;
	cursor: pointer;
	margin-right: 5px;
}
.next{
	width: 10px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	border: 1px solid #ddd;
	background: #EBEBEB;
	cursor: pointer;
}
.spec-scroll .item{
	width: 321px;
	height: 56px;
	/*background: peru;*/
	float: left;
	overflow: hidden;
	position: relative;
}
.spec-scroll .item ul{
	width: 100%;
	height: 56px;
	position: absolute;
}
.spec-scroll .item ul li{
	float: left;
	width: 64px;
	text-align: center;
}
#datu img{
	width: 352px;
	height: 352px;
}
.spec-scroll .item ul li img{
	border: 1px solid #ddd;
	padding: 2px;
	width: 50px;
	height: 50px;
}
.shopinfo h1{
	height: 27px;
	font-size: 18px;
	font-weight: 600;color: #333;
}
.shopinfo h3{
	height: 30px;
	color: #e4393c;
	line-height: 20px;
	padding-bottom: 10px;
}
.shopinfo p{
	padding: 8px 0;
	color: #999;
	/*margin: 10px 0;*/
}
.shopinfo p b{
	font-size: 20px;
	font-weight: 700;
	color: #d52629;
	position: relative;
	top: 3px;
	padding-right: 5px;
}
.shopinfo .shop_cart{
	width: 580px;
	height: 149px;
	border: 1px solid #ededed;
	background: #f9f9f9;
	padding: 5px 13px 15px 23px;
	overflow: hidden;
	margin-top: 5px;
}
.shopinfo .shop_cart p{
	margin: 7px 0;
}
.shopinfo .shop_cart .num{
	width: 37px;
	height: 16px;
	text-align: center;
}
/*.shopinfo .shop_cart p{
	width: 542px;
	height: 20px;
	overflow: hidden;
}*/
.shopinfo .shop_cart p .jian,.shopinfo .shop_cart p .jia{
	width: 16px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	background: #c5c5c5;
	margin: 0 3px;
	text-align: center;
}

.new_buy{
	width: 135px;
	height: 39px;
	background: #ffe4d0;
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #f0cab6;
	margin-top: 5px;
	color: #d52629;
}
.join_cart{
	width: 180px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	display: inline-block;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #d52629;
	color: #fff;
	margin-left: 20px;
	margin-top: 5px;
	background: #d52629;
}
.collection{
	width: 580px;
	height: 25px;
	/*background: palegoldenrod;*/
	margin-top: 20px;
}
.collection a{
	display: block;
	border: 1px solid #E4E4E4;
	float: left;
	padding-right: 5px;
	margin-right: 10px;
}
.collection a .icon_item{
	float: left;
	width: 20px;
	height: 23px;
	margin-right: 5px;
	background: url(../img/love.png) no-repeat 5px 3px;
}
.collection a .icon_click{
	float: left;
	width: 20px;
	height: 23px;
	margin-right: 5px;
	background: url(../img/view_hover.png) no-repeat 5px 3px;
}
.tindex{
	width: 580px;
	height: 55px;
	/*background: paleturquoise;*/
	margin-top: 10px;
}
.tindex a{
	margin-top: 10px;
	margin-left: 20px;
	display: inline-block;
	width: 348px;
	height: 40px;
	line-height: 40px;
	background: #d52629;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 18px;
}
.shop_nav{
	width: 962px;
	clear: both;
}
.show_ul{
	width: 962px;
	height: 37px;
	/*background: paleturquoise;*/
}
.show_ul li{
	float: left;
	line-height: 36px;
	padding: 0 27px;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
}

/*底部*/
.scurity{
	width: 1349px;
	height: 130px;
	background:#af2525;
	overflow: hidden;
}
.scurity ul li{
	/*width: 300px;*/
	height: 70px;
	line-height: 70px;
	width: 25%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin: 30px 0;
}
.scurity ul li i{
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 20px;
}
.scurity ul li .i1{
	background-position: -30px -60px;
}
.scurity ul li .i2{
	background-position: -30px -130px;
}
.scurity ul li .i3{
	background-position: -30px -200px;
}
.scurity ul li .i4{
	background-position: -30px -270px;
}

.service{
	height: 220px;
	overflow: hidden;
}
.service dl{
	overflow: hidden;
	/*padding-bottom: 20px;*/
	border-bottom: 1px solid #d9d9d9;
}
.service dl dt{
	width: 280px;
	float: left;
	padding-top: 55px;
}
.service dl dt p{
	margin-top: 10px;
	background: url(../img/tell1.png) no-repeat left bottom;
	font-weight: bold;
	font-size: 20px;
	color: #ca4c61;
	padding: 0 0 5px 35px;
	line-height: 45px;
}
.service dl dd{
	line-height: 30px;
	float: left;
	width: 165px;
	position: relative;
	padding: 26px 0 0 35px;
}
.service dl dd h3 {
    padding-bottom: 9px;
    font-size: 16px;
}
.service dl dd i {
    background: url(../img/icon.png) no-repeat;
    display: block;
    width: 23px;
    height: 24px;
    position: absolute;
    top: 30px;
    left: 0px;
}
.service dl dd i.i1 {
    background-position: 0 -60px;
}
.service dl dd p a {
    font-size: 14px;
    color: #666;
}
.service dl dd i.i2 {
    background-position: 0 -84px;
}
.service dl dd i.i3 {
    background-position: 0 -111px;
}
.service dl dd i.i4 {
    background-position: 0 -134px;
}
.service dl dd.last {
    padding: 26px 0 0 0;
    width: 114px;
    float: right;
}
.service dl dd.last img {
    border: 1px solid #e9e9e9;
    width: 112px;
    height: 112px;
}
.service dl dd.last p {
    font-size: 14px;
    text-align: center;
}
/*底部*/
.footer{
	width: 100%;
	height: 100px;
/*	background: palegreen;*/
	overflow: hidden;
}
.footer_con{
	width: 1200px;
	height: 60px;
	margin-top: 20px;
	/*background: paleturquoise;*/
	overflow: hidden;
}
.footer_con .con_left{
	width: 231px;
	height: 53px;
	float: left;
}
.footer_con .con_right{
	margin-left: 10px;
	float: right;
	width: 947px;
	height: 53px;
}
.footer_con .con_right ul{
	text-decoration: none;
	width: 586px;
	height: 27px;
	padding-top: 3px;
}
.footer_con .con_right ul li{
	float: left;
	padding-right: 10px;
	text-decoration: none;
}
.footer_con .con_right ul li a{
	text-decoration: none;
	color: #333333;
}
.footer_con .con_right ul li a:hover{
	color: #D70029;
}





